<div *ngIf="user !== undefined then content else other_content"></div>
<ng-template #content>
    <div class="body">
        <div class="info">
            <img priority [ngSrc]="user!.avatar_url" width="150" height="150" />
            <div class="details">
                <label>Nome: {{user?.login}}</label>
                <label>User: {{user?.name}}</label>
                <label>Id: {{user?.id}}</label>
                <label>Url:<a href="{{user?.html_url}}"> {{user?.html_url}}</a> </label>
            </div>
            <button routerLink="">Voltar</button>
        </div>

        <table border="1">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Url</th>
            </tr>
            <ng-container *ngFor="let repo of repos">
                <tr>
                    <td>{{repo.id}}</td>
                    <td>{{repo.name}}</td>
                    <td><a href="{{repo.html_url}}">{{repo.html_url}}</a></td>
                </tr>
            </ng-container>
        </table>
    </div>
</ng-template>

<ng-template #other_content>
    <label>Sem usuario</label>
</ng-template>